*{
width: 100px;
}
 
body{
    background-color: blanchedalmond;
}

h1{
    background-color: brown;
}
.super-mario{
position: absolute; 
z-index: 2;
opacity: 0.3;
}

.goomba{
position: absolute;
z-index: 1;
}

.word{
float: left;
top: 500px;
background-color: brown;

}

.baloon{
float: left;
bottom: 100px;
}




.bowser{

}